@model SME_Hub.Models.MultiModels

@{
    Single m_Average = 0;

    Single m_totalNumberOfVotes = 0;
    Single m_totalVoteCount = 0;
    Single m_currentVotesCount = 0;
    Single m_inPercent = 0;
    var thisVote = string.Empty;

    if (Model.MyAccount.Votes.Length > 0)
    {
        // calculate total votes now
        string[] votes = Model.MyAccount.Votes.Split(',');
        for (int i = 0; i < votes.Length; i++)
        {
            m_currentVotesCount = int.Parse(votes[i]);
            m_totalNumberOfVotes = m_totalNumberOfVotes + m_currentVotesCount;
            m_totalVoteCount = m_totalVoteCount + (m_currentVotesCount * (i + 1));
        }

        m_Average = m_totalVoteCount / m_totalNumberOfVotes;
        m_inPercent = (m_Average * 100) / 5;

        thisVote = "<span style=\"display: block; width: 100px; height: 20px; background: url(/images/whitestar.gif) 0 0;\">" +
            "<span style=\"display: block; width: " + m_inPercent + "%; height: 20px; background: url(/images/yellowstar.gif) 0 -20px;\"></span> " +
            "</span>" +
            "<small class=\"smallText\"><span itemprop=\"ratingCount\">" + m_totalNumberOfVotes + " People rated this.</span> | Rating: <span itemprop=\"ratingValue\">" + m_Average.ToString("##.##") + "</span> out of 5 </small>  ";
            //"<small class=\"smallText\"><span itemprop=\"ratingCount\">" + m_totalNumberOfVotes + " People rated this.</span></small>  ";
        
    }
}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="bestRating" content="5" />
    <meta itemprop="worstRating" content="1">
    <meta itemprop="ratingValue" content="@m_Average.ToString("##.##")" />
    @Html.Raw(thisVote)
</div>



